In [241]:
import numpy as np
import pandas as pd

In [242]:
def loadAndCombineAllPagesOfSheet(sheet_name, limit):
    csab_round1 = pd.read_excel(sheet_name, sheet_name = None)
    column_names = ["instcd","Institute","Brcd","Program","Quota","Category","Gender","Opening","Closing"]
    csab_round = pd.DataFrame(columns = column_names)
    
    for i in range(1,limit):
        temp = pd.DataFrame(csab_round1['Page '+ str(i)]).iloc[2:, :9]
        temp.columns = column_names
        csab_round = pd.concat([csab_round, temp ])
    
    csab_round = csab_round.reset_index()
    csab_round = csab_round[column_names]
    return csab_round

In [243]:
csab_round1 = loadAndCombineAllPagesOfSheet('csab/Round1.xlsx', 173)
csab_round2 = loadAndCombineAllPagesOfSheet('csab/Round2.xlsx', 65)

In [244]:
csab_round2.head()

,instcd,Institute,Brcd,Program,Quota,Category,Gender,Opening,Closing
0,201,Dr. B R Ambedkar National Institute of Technol...,4104,Bio Technology,AI,OBC-NCL,Gender Neutral,53115,60397
1,201,Dr. B R Ambedkar National Institute of Technol...,4104,Bio Technology,AI,GEN-EWS,Gender Neutral,53477,53477
2,201,Dr. B R Ambedkar National Institute of Technol...,4104,Bio Technology,AI,GEN-EWS,Female Only,79382,79382
3,201,Dr. B R Ambedkar National Institute of Technol...,4104,Bio Technology,AI,ST,Gender Neutral,208029,233065
4,201,Dr. B R Ambedkar National Institute of Technol...,4104,Bio Technology,HS,OBC-NCL,Female Only,249070,249070

In [245]:
csab_round1.to_excel("CSAB/csab_round1.xlsx")
csab_round2.to_excel("CSAB/csab_round2.xlsx")

In [256]:
csab_round2[csab_round2.instcd.isna()]

,instcd,Institute,Brcd,Program,Quota,Category,Gender,Opening,Closing
990,NaN,NaN,NaN,Ceramic Engineering and M.Tech Industrial,NaN,NaN,NaN,NaN,NaN
992,NaN,NaN,NaN,Ceramic,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,Ceramic Engineering and M.Tech Industrial,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,Ceramic,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,Ceramic Engineering and M.Tech Industrial,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2453,NaN,"Management, Sonepat, Haryana",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2454,NaN,National Institute of Food Technology Entrepre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2456,NaN,"Management, Sonepat, Haryana",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2457,NaN,National Institute of Food Technology Entrepre...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2459,NaN,"Management, Sonepat, Haryana",NaN,NaN,NaN,NaN,NaN,NaN,NaN